@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header{
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] footer{
	text-align: left;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:diary-entry"]{
	margin-top: 1em;
}

section[epub|type~="z3998:diary-entry"]:first-of-type{
	margin-top: 0;
}

[epub|type~="z3998:diary-entry"] header{
	margin-bottom: 0.5em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:diary-entry"] header b{
	font-style: normal;
}

[epub|type~="z3998:diary-entry"] header + *{
	margin-top: 0;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

#the-confessions-of-a-little-man-during-great-days [epub|type~="chapter"]{
	break-after: page;
}

#the-man-who-found-the-truth-9 header{
	font-variant: small-caps;
}

#the-man-who-found-the-truth-9 blockquote:last-of-type > p{
	font-variant: small-caps;
	text-align: center;
}

#his-excellency-the-governor-4 [epub|type~="z3998:letter"]{
	font-style: italic;
	text-align: center;
}

#a-dilemma-4 b{
	display: block;
	text-align: center;
	margin-bottom: 1em;
}
